{% extends 'base1.html' %}
{% load static %}
{% load omfilters %}


{% block title %}Painel{% endblock %}

{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Listagem de Pedidos </h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'produto:index' %}">Pedidos</a></li>
                            <li class="breadcrumb-item active">Listagem de Pedidos</li>
                        </ol>
                        {% comment %} <div class="card mb-4">
                            <div class="card-body">
                                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                .
                            </div>
                        </div> {% endcomment %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Pedidos concluidos
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID do Pedido</th>
                                            <th>Status</th>
                                            <th>Nome do Cliente</th>
                                            <th>Data</th>
                                            <th>Horário</th>  <!-- Nova coluna para horário -->
                                            <th>Quantidade Total</th>
                                            <th>Valor Total</th>
                                            <th>Método de Pagamento</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID do Pedido</th>
                                            <th>Status</th>
                                            <th>Nome do Cliente</th>
                                            <th>Data</th>
                                            <th>Horário</th>  <!-- Nova coluna para horário -->
                                            <th>Quantidade Total</th>
                                            <th>Valor Total</th>
                                            <th>Método de Pagamento</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for pedido in pedidos %}
                                        <tr>
                                            <td>{{ pedido.id }}</td>
                                            <td>{{ pedido.status }}</td>
                                            <td>{{ pedido.usuario.username }}</td>  <!-- Nome do usuário -->
                                            <td>{{ pedido.data|date:"Y/m/d" }}</td>  <!-- Data de criação -->
                                            <td>{{ pedido.data|time:"H:i:s" }}</td>  <!-- Horário de criação -->
                                            <td>{{ pedido.qtd_total }}</td>
                                            <td>{{ pedido.total|formata_preco }}</td>
                                            <td>{{ pedido.forma_pagamento }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </body>
</html>
{% endblock %}
